{% extends 'html/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container">

	{% if messages %}
	 {% for m in messages %}
	 <div class="alert alert-{{m.tags}} alert-dismissible">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>{{m}}</strong>
	</div>
	{% endfor %}
	{% endif %}
	<div class="card col-md-6 mx-auto mt-4 shadow-lg">
		<h2 class="bg-dark text-center text-white border rounded my-2 mx-2 p-2">Login Here</h2>
		<form class="mx-3" method="POST">
			{% csrf_token %}
			<!-- {{form.as_p}} -->
			<input type="text" name="username" placeholder="Enter Username" class="form-control my-2">
			<input type="password" name="password" placeholder="Enter Password" class="form-control my-2 mt-3">
			<input type="submit" value="Login" name="Login" class="btn btn-block btn-success mb-2 mt-3">
		</form>
	</div>
</div>
{% endblock %}