{% extends 'html/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<div class="container">
	<div class="row mt-2">
		<div class="card col-md col-sm mx-2 my-2" style="">
			<h2 class="bg-info text-center text-white border rounded mt-2 p-2">Profile</h2>
		</div>
		
		<div class="card col-md col-sm mx-2 my-2" style="background-color: #adebad">
			<h2 class="bg-success text-center text-white border rounded mt-2 p-2">Task Completed</h2>
			<div class="jumbtron">
				<h3 class="text-center" style="font-size: 100px">
					04
				</h3>
			</div>
		</div>

		<div class="card col-md col-sm mx-2 my-2" style="background-color: #ff9999">
			<h2 class="bg-danger text-center text-white border rounded mt-2 p-2">Task Pending</h2>
			<div class="jumbtron">
				<h3 class="text-center" style="font-size: 100px">
					02
				</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}